# Data Cleaning

## 1) Dataset generation

This section of the notebook permits to randomly generate a dataset composed of 9 columns and a parametered number of rows. Errors are also generated randomly with a possibly changeable rate for each kind of errors.

In [1]:
import pandas as pd
import numpy as np
import math

def introduce_error_name_NaN(dataframe, length, name_errors):
	number_of_errors = math.floor(round(name_errors*length, 0))
	errors_indices = np.random.choice(length, number_of_errors, replace=False)
	dataframe.iloc[errors_indices, [dataframe.columns.get_loc('Name')]] = np.nan

def introduce_error_missing_NaN(dataframe, length, missing_errors):
	number_of_errors = math.floor(round(missing_errors*length, 0))
	errors_indices = np.random.choice(length, number_of_errors, replace=False)
	dataframe.iloc[errors_indices, [dataframe.columns.get_loc('Missing')]] = np.nan

def introduce_error_category_null_values(dataframe, length, category_errors):
	number_of_errors = math.floor(round(category_errors*length, 0))
	errors_indices = np.random.choice(length, number_of_errors, replace=False)
	for index in errors_indices:
		dataframe.iloc[index, [dataframe.columns.get_loc('Category')]] = np.random.choice(['NaN', 'null', '???', 'UNKWN'], 1, p=[0.25, 0.25, 0.25, 0.25])[0]

def introduce_error_height_NaN(dataframe, length, height_errors):
	number_of_errors = math.floor(round(height_errors*length, 0))
	errors_indices = np.random.choice(length, number_of_errors, replace=False)
	dataframe.iloc[errors_indices, [dataframe.columns.get_loc('Height')]] = np.nan

def introduce_error_salary_heterogeneous(dataframe, length, salary_errors):
	number_of_errors = math.floor(round(salary_errors*length, 0))
	errors_indices = np.random.choice(length, number_of_errors, replace=False)
	dataframe.iloc[errors_indices, [dataframe.columns.get_loc('Salary')]] = np.multiply(1000, np.random.randint(low=450, high=500, size=number_of_errors))

def introduce_error_date(dataframe, length):
	years = np.random.randint(low=1950, high=2020, size=length)
	months = np.random.randint(low=1, high=12, size=length)
	days = np.random.randint(low=1, high=28, size=length)
	dates_array = []
	for i in range(length):
		date_string = '{} {}-{}'.format(months[i], years[i], days[i])
		dates_array += [date_string]
	return dates_array

def introduce_error_country():
	possible_countries = ['USA', 'uSa', 'Brasil', 'brUsil', 'France', 'Fr', 'South Africa', 'SAF', 'China', 'CHinA']
	countries_probabilities = [0.15, 0.05, 0.15, 0.05, 0.15, 0.05, 0.15, 0.05, 0.15, 0.05]
	return possible_countries, countries_probabilities

def introduce_error_email():
	possible_suffixes = ['@gmail.com', '@hotmail.com', '@laposte.net', '@darkmagic', '@test.xxx', '@weneverknow.com']
	suffixes_probabilities = [0.41, 0.3, 0.2, 0.03, 0.03, 0.03]
	return possible_suffixes, suffixes_probabilities

In [2]:
import random
import string

DEFAULT_DATASET_LENGTH = 50
DEFAULT_NAME_ERRORS = 0.2
DEFAULT_MISSING_ERRORS = 0.8
DEFAULT_CATEGORY_ERRORS = 0.25
DEFAULT_HEIGHT_ERRORS = 0.15
DEFAULT_SALARY_ERRORS = 0.07

def generate_dataset(length=DEFAULT_DATASET_LENGTH, name_errors=DEFAULT_NAME_ERRORS, missing_errors=DEFAULT_MISSING_ERRORS, category_errors=DEFAULT_CATEGORY_ERRORS,
	height_errors=DEFAULT_HEIGHT_ERRORS, salary_errors=DEFAULT_SALARY_ERRORS):
	dataframe = pd.DataFrame()
	generate_name_column(dataframe, length)
	introduce_error_name_NaN(dataframe, length, name_errors)
	generate_missing_column(dataframe, length)
	introduce_error_missing_NaN(dataframe, length, missing_errors)
	generate_category_column(dataframe, length)
	introduce_error_category_null_values(dataframe, length, category_errors)
	generate_height_column(dataframe, length)
	introduce_error_height_NaN(dataframe, length, height_errors)
	generate_salary_column(dataframe, length)
	introduce_error_salary_heterogeneous(dataframe, length, salary_errors)
	dates_array = introduce_error_date(dataframe, length)
	generate_date_column(dataframe, dates_array)
	countries, probas = introduce_error_country()
	generate_country_column(dataframe, length, countries, probas)
	suffixes, probas = introduce_error_email()
	generate_email_column(dataframe, length, suffixes, probas)
	generate_strange_column(dataframe, length)
	return dataframe

def generate_name_column(dataframe, length):
	most_common_names = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer', 'Michael', 'Linda', 'William', 'Elizabeth',
		'David', 'Barbara', 'Richard', 'Susan', 'Joseph', 'Jessica', 'Thomas', 'Sarah', 'Charles', 'Margaret']
	dataframe["Name"] = np.random.choice(most_common_names, length)

def generate_missing_column(dataframe, length):
	dataframe["Missing"] = np.random.randint(low=0, high=100, size=length)

def generate_category_column(dataframe, length):
	dataframe["Category"] = np.random.choice(['Classic', 'Regular', 'Special'], length)

def generate_height_column(dataframe, length):
	dataframe["Height"] = np.round(np.random.uniform(low=1.45, high=2.10, size=length), 2)

def generate_salary_column(dataframe, length):
	dataframe["Salary"] = np.multiply(1000, np.random.randint(low=30, high=145, size=length))

def generate_date_column(dataframe, dates_array):
	dataframe["Date"] = dates_array

def generate_country_column(dataframe, length, countries, probas):
	dataframe["Country"] = np.random.choice(countries, length, p=probas)

def generate_email_column(dataframe, length, suffixes, probas):
	email_data_array = []
	for row in range(length):
		first_part = ''.join([random.choice(string.ascii_letters + string.digits) for n in range(5)])
		second_part = ''.join([random.choice(string.ascii_letters + string.digits) for n in range(5)])
		extension = ''.join(np.random.choice(suffixes, 1, p=probas))
		random_data = '{}.{}{}'.format(first_part, second_part, extension)
		email_data_array += [random_data]
	dataframe["Email"] = email_data_array

def generate_strange_column(dataframe, length):
	strange_data_array = []
	for row in range(length):
		random_data = ''.join([random.choice(string.ascii_letters + string.digits) for n in range(10)])
		strange_data_array += [random_data]
	dataframe["Strange"] = strange_data_array

In [3]:

dataframe = generate_dataset(length=500, name_errors=0.2, missing_errors=0.8, category_errors=0.25,
                             height_errors=0.15, salary_errors=0.07)
dataframe.head(10)

       Name  Missing  ...                    Email     Strange
0   Jessica      NaN  ...  X5O3Q.N6tIm@laposte.net  itbbsOZlLf
1       NaN      NaN  ...  7j12a.pbIG1@hotmail.com  Qdc8zoafMH
2      John      NaN  ...    oA6Tt.cVNFO@gmail.com  06BtnWFAqz
3   Michael      NaN  ...  XSuTv.EXdGB@hotmail.com  7hxB67chLd
4     Sarah      NaN  ...  plLzO.Desfh@laposte.net  sud4edwOxv
5   Barbara     88.0  ...    xEYXS.oeqYU@gmail.com  95eJlS5eks
6       NaN      NaN  ...    xPiii.2QXn8@gmail.com  Fmmba6iNqG
7    Joseph      NaN  ...  AKAN5.cs86e@laposte.net  d8Z8Kc4ZQf
8  Jennifer     38.0  ...    xVodN.Ft0fa@gmail.com  5GTcMDDuBP
9     Sarah      NaN  ...    Aj5j6.mJyhU@gmail.com  bHt1iLCdau

[10 rows x 9 columns]

## 2) Data Cleaning pipeline

### a. Strange feature deletion

Sometimes, there are features in your data that seem relatively strange, and in some cases that are really hard to understand or apprehend. They can be useless features, and to avoid wrong interpretations later in your analysis, deleting this strange feature can be an option.

In our dataset, we created a **Strange** feature, to showcase the ability to prepare your data and continue your analysis on an appropriate perimeter of data.

In [4]:
# Look at the first few lines of the dataset to get a sense of data
dataframe.head()

      Name  Missing Category  ...       Country                    Email     Strange
0  Jessica      NaN  Special  ...  South Africa  X5O3Q.N6tIm@laposte.net  itbbsOZlLf
1      NaN      NaN  Classic  ...         China  7j12a.pbIG1@hotmail.com  Qdc8zoafMH
2     John      NaN  Regular  ...           USA    oA6Tt.cVNFO@gmail.com  06BtnWFAqz
3  Michael      NaN  Classic  ...  South Africa  XSuTv.EXdGB@hotmail.com  7hxB67chLd
4    Sarah      NaN  Classic  ...  South Africa  plLzO.Desfh@laposte.net  sud4edwOxv

[5 rows x 9 columns]

In [5]:
# Drop the "Useless" feature of the dataset
dataframe = dataframe.drop(['Strange'], axis=1)

In [6]:
# Have another look on the data without the useless feature that has been deleted
dataframe.head()

      Name  Missing Category  ...       Date       Country                    Email
0  Jessica      NaN  Special  ...  9 1979-14  South Africa  X5O3Q.N6tIm@laposte.net
1      NaN      NaN  Classic  ...  8 1982-23         China  7j12a.pbIG1@hotmail.com
2     John      NaN  Regular  ...   6 1990-7           USA    oA6Tt.cVNFO@gmail.com
3  Michael      NaN  Classic  ...  2 2003-22  South Africa  XSuTv.EXdGB@hotmail.com
4    Sarah      NaN  Classic  ...  2 2001-25  South Africa  plLzO.Desfh@laposte.net

[5 rows x 8 columns]

### b. Missing values as a special category

In this part, we will study the different values that take the **Category** feature of our generated dataset.

We can quickly detect that there are a few values that are taken and represent a missing or an invalid value for the category. Therefore, we want to treat all these different values as a single and unique representation of the missing value concept.

In [7]:
# Check the different values taken by data for the Category feature
dataframe['Category'].value_counts()

Classic    132
Regular    122
Special    121
NaN         34
null        34
UNKWN       31
???         26
Name: Category, dtype: int64

In [8]:
# Replace data missing values for the Category feature by a single and dedicated value
dataframe['Category'].replace(['NaN', 'null', 'UNKWN', '???'], ['Unknown']*4, inplace=True)

In [9]:
# Check the different values taken by data for the Category feature, after missing category cleaning process
dataframe['Category'].value_counts()

Classic    132
Unknown    125
Regular    122
Special    121
Name: Category, dtype: int64

After checking the transformed dataset with this single missing value for the Category feature, We will be able to process this feature later on knowing it can take only the values (`Classic`, `Regular`, `Special`), or the `Unknown` missing value.

### c. Fixing spelling mistakes with known correct values

There is a **Country** feature in our dataset that contains a few country names, but some of them are spelled or written in a strange way. That can totally happen in real life when you collect data from multiple sources and these sources do not have the same software/language references.

In [10]:
# Check the different values taken by data for the Country feature
dataframe['Country'].value_counts()

USA             86
France          77
Brasil          76
South Africa    76
China           70
Fr              30
CHinA           25
uSa             21
SAF             21
brUsil          18
Name: Country, dtype: int64

As we can see in the different values that can take the Country feature, there are few ones that misspelled or abstracted, but we can guess the name of the real country behind it. For example, *Fr* probably means *France*, *CHinA* and *uSa* is of course a misspelling, *SAF* in an abstraction of *South Africa* and *brUsil* is totally a mistake in data.

In [11]:
# Replace misspelled and erroneous values for the Country feature by a known correct values
dataframe['Country'].replace(['SAF', 'Fr', 'CHinA', 'uSa', 'brUsil'],
                             ['South Africa', 'France', 'China', 'USA', 'Brasil'], inplace=True)

In [12]:
# Check the different values taken by data for the Country feature, after fixing misspelled values
dataframe['Country'].value_counts()

USA             107
France          107
South Africa     97
China            95
Brasil           94
Name: Country, dtype: int64

With this spellchecking and fixing step of the Data Cleaning process, we now clearly see the different countries involved in the dataset, with no surprising or confusing values.

### d. Mean filling for missing values

The **Height** feature of the dataset miss a few values, but not a large amount. In order to analyse the data without deleting too much information, it can be clever in some cases to replace missing values in numerical features by the mean of this feature.

There are not too much outliers in this feature, so replacing missing values by the mean can be a good choice.

In [13]:
# Check the proportion of null values in the Height feature
height_null_values = sum(dataframe['Height'].isnull() == True)
height_notnull_values = sum(dataframe['Height'].isnull() == False)
print("Height feature has {} null values and {} not null values !".format(height_null_values, height_notnull_values))

Height feature has 75 null values and 425 not null values !

In [14]:
height_mean_value = round(dataframe["Height"].mean(), 2)
print(height_mean_value)

1.76

In [15]:
# Compute the mean value of the Height feature in the dataset, and replace missing values with it
height_mean_value = round(dataframe["Height"].mean(), 2)
dataframe['Height'].fillna(height_mean_value, inplace=True)

In [16]:
# Check the proportion of null values in the Height feature after mean filling
height_null_values = sum(dataframe['Height'].isnull() == True)
height_notnull_values = sum(dataframe['Height'].isnull() == False)
print("Height feature has {} null values and {} not null values !".format(height_null_values, height_notnull_values))

Height feature has 0 null values and 500 not null values !

In [17]:
dataframe.head()

      Name  Missing Category  ...       Date       Country                    Email
0  Jessica      NaN  Special  ...  9 1979-14  South Africa  X5O3Q.N6tIm@laposte.net
1      NaN      NaN  Classic  ...  8 1982-23         China  7j12a.pbIG1@hotmail.com
2     John      NaN  Regular  ...   6 1990-7           USA    oA6Tt.cVNFO@gmail.com
3  Michael      NaN  Classic  ...  2 2003-22  South Africa  XSuTv.EXdGB@hotmail.com
4    Sarah      NaN  Classic  ...  2 2001-25  South Africa  plLzO.Desfh@laposte.net

[5 rows x 8 columns]

Once the `Height` feature missing values have been replaced with the mean value, you shall heterogeneous set of values on this feature to do further analysis.

### e. Useless observations deletion

The **Name** feature, serves as an identifier of each observation. We can face cases with real world data, where these identifiers are not filled. There are a bunch of data available, but we cannot link them to a defined indentifier, a specific object or individual.

This generally means whathever the analysis you will make on your data, you will be blocked at some point for some cases where you need to identify a data point. Thus, it is sometimes useful to delete these points for some specific analysis.

In [18]:
# Check the proportion of null values in the Name feature
name_null_values = sum(dataframe['Name'].isnull() == True)
name_notnull_values = sum(dataframe['Name'].isnull() == False)
print("Name feature has {} null values and {} not null values !".format(name_null_values, name_notnull_values))

Name feature has 100 null values and 400 not null values !

In [19]:
# Delete observations where Name feature value is missing
dataframe = dataframe.dropna(subset=['Name'])

In [20]:
# Check the proportion of null values in the Name feature after mean filling
name_null_values = sum(dataframe['Name'].isnull() == True)
name_notnull_values = sum(dataframe['Name'].isnull() == False)
print("Name feature has {} null values and {} not null values !".format(name_null_values, name_notnull_values))

Name feature has 0 null values and 400 not null values !

Deleting observations that have missing values for the `Name` feature shall reduce your dataset size, but help you to do identification and relationships analysis easier.

### f. Useless feature deletion

There is a **Missing** feature in my dataset that, like its name indicates, misses a large amount of data. When a feature lacks information on the majority of the data points, this means this feature does not really bring something interesting to the analysis done later on.

In this case, this feature is considered useless and better be deleted.

In [21]:
# Check the few first lines of the dataset and especially the Missing feature values
dataframe.head()

      Name  Missing Category  ...       Date       Country                    Email
0  Jessica      NaN  Special  ...  9 1979-14  South Africa  X5O3Q.N6tIm@laposte.net
2     John      NaN  Regular  ...   6 1990-7           USA    oA6Tt.cVNFO@gmail.com
3  Michael      NaN  Classic  ...  2 2003-22  South Africa  XSuTv.EXdGB@hotmail.com
4    Sarah      NaN  Classic  ...  2 2001-25  South Africa  plLzO.Desfh@laposte.net
5  Barbara     88.0  Special  ...   8 1961-4        France    xEYXS.oeqYU@gmail.com

[5 rows x 8 columns]

In [22]:
# Drop the "Missing" feature of the dataset
dataframe = dataframe.drop(['Missing'], axis=1)

In [23]:
# Look back at the dataset with Missing feature deleted
dataframe.head()

      Name Category  Height  ...       Date       Country                    Email
0  Jessica  Special    1.91  ...  9 1979-14  South Africa  X5O3Q.N6tIm@laposte.net
2     John  Regular    1.76  ...   6 1990-7           USA    oA6Tt.cVNFO@gmail.com
3  Michael  Classic    1.76  ...  2 2003-22  South Africa  XSuTv.EXdGB@hotmail.com
4    Sarah  Classic    1.98  ...  2 2001-25  South Africa  plLzO.Desfh@laposte.net
5  Barbara  Special    1.91  ...   8 1961-4        France    xEYXS.oeqYU@gmail.com

[5 rows x 7 columns]

When a useless feature is deleted, models and statistics used on the dataset get more precise because they are not perturbated anymore by a lot of incorrected or missing data. It is really important to focus solely on data that has interest.

### g. Median filling for erroneous values

The **Salary** feature of the dataset has a few values that do not seem plausible, they may be an error. When data is missing or is irrelevant in a numerical feature, and this numerical feature has potentially large outliers in it, replacing the data by the median instead of the mean can be more appropriate.

In [24]:
max_salary = max(dataframe['Salary'])
min_salary = min(dataframe['Salary'])
mean_salary = math.ceil(round(dataframe['Salary'].mean(), 0))
median_salary = math.ceil(dataframe['Salary'].median())
print("Salary feature : max={}, min={}, mean={}, median={}".format(max_salary, min_salary, mean_salary, median_salary))

Salary feature : max=499000, min=30000, mean=116760, median=95000

In [25]:
# Compute the mean value of the Height feature in the dataset, and replace missing values with it
max_salary_no_outlier = mean_salary = math.ceil(round(dataframe['Salary'].mean() * 2.5, 0))
dataframe = dataframe.reset_index(drop=True)
high_salary_indices = dataframe[(dataframe["Salary"] > max_salary_no_outlier)].index
dataframe.iloc[high_salary_indices, [dataframe.columns.get_loc('Salary')]] = median_salary

In [26]:
max_salary = max(dataframe["Salary"])
min_salary = min(dataframe["Salary"])
mean_salary = math.ceil(round(dataframe["Salary"].mean(), 0))
median_salary = math.ceil(dataframe["Salary"].median())
print("Salary feature : max={}, min={}, mean={}, median={}".format(max_salary, min_salary, mean_salary, median_salary))

Salary feature : max=144000, min=30000, mean=88695, median=95000

Once the `Salary` feature outliers have been replaced with the median value, further analysis shall be more precise and interesting.

### h. Dates wrong formatting

There are often dates type features in datasets, in mine we can find the evident **Date** feature. Dates features often present bad formatting according countries, times, or sources where we got your data from. It is vital to clean dates features especially on a uniform form, throughout your feature, and throughout your entire dataset.

In [ ]:
# Check the first few lines of the dataset, to have a look on the dates format of my Date feature
dataframe.head()

       Name Category  Height  ...        Date Country                    Email
0  Margaret  Classic    2.07  ...   1 2000-25     USA  kCI2L.YudRY@laposte.net
1     James  Special    1.56  ...  10 1989-11  France    51M7M.DLkUi@gmail.com
2   William  Classic    1.78  ...   4 1952-19  France    ok2V8.G77eZ@gmail.com
3     Susan  Special    2.02  ...    4 2002-6     USA  16NuU.NLewS@hotmail.com
4     David  Classic    1.84  ...   9 1976-20  Brasil     VhjCe.U9iQG@test.xxx

[5 rows x 7 columns]

In [27]:
# Transform the whole feature into a real datetime format, precising the data input format provided
dataframe['Date'] = pd.to_datetime(dataframe['Date'], format="%m %Y-%d")

In [28]:
# Check the good transformation of dates format in the dataset
dataframe.head()

      Name Category  Height  ...       Date       Country                    Email
0  Jessica  Special    1.91  ... 1979-09-14  South Africa  X5O3Q.N6tIm@laposte.net
1     John  Regular    1.76  ... 1990-06-07           USA    oA6Tt.cVNFO@gmail.com
2  Michael  Classic    1.76  ... 2003-02-22  South Africa  XSuTv.EXdGB@hotmail.com
3    Sarah  Classic    1.98  ... 2001-02-25  South Africa  plLzO.Desfh@laposte.net
4  Barbara  Special    1.91  ... 1961-08-04        France    xEYXS.oeqYU@gmail.com

[5 rows x 7 columns]

### i. Strange obervations deletion

On some features of a dataset, strange values may sometimes appear, and it is difficult to understand whether it is a normal value or a harmful, confusing and non intentional value (that could have been introduced in the process). In the case of the **Email** feature, a very strange or non comprehensive email suffix can mean a lot of things.

In [29]:
# Check all the existing email suffices in the initial dataset
email_suffices = pd.DataFrame({"Suffices": dataframe["Email"].str.split("@", expand=True)[1]})
email_suffices["Suffices"].value_counts()

gmail.com          176
hotmail.com        104
laposte.net         81
darkmagic           15
test.xxx            12
weneverknow.com     12
Name: Suffices, dtype: int64

In [30]:
# Retrieve indices of observations with harmful email suffices and delete them
harmful_email_indices = email_suffices[(email_suffices['Suffices'] == 'darkmagic')
                                       | (email_suffices['Suffices'] == 'test.xxx')
                                       | (email_suffices['Suffices'] == 'weneverknow.com')].index
dataframe.drop(harmful_email_indices, inplace=True)

In [31]:
# Check whether the deletion of observations with harmful email suffices worked 
email_suffices = pd.DataFrame({"Suffices": dataframe["Email"].str.split("@", expand=True)[1]})
email_suffices["Suffices"].value_counts()

gmail.com      176
hotmail.com    104
laposte.net     81
Name: Suffices, dtype: int64

Now the few potentially harmful `Email` addresses have been deleted, we are narrowing our individuals with interesting data and trustable information.

## 3) Conclusion

This section of the notebook shows the results of our Data Cleaning pipeline. There are of course less columns and rows, but data is clean, readable, and ready to be further analysed with other Data Science techniques.

In [32]:
dataframe.head(10)

        Name Category  Height  ...       Date       Country                    Email
0    Jessica  Special    1.91  ... 1979-09-14  South Africa  X5O3Q.N6tIm@laposte.net
1       John  Regular    1.76  ... 1990-06-07           USA    oA6Tt.cVNFO@gmail.com
2    Michael  Classic    1.76  ... 2003-02-22  South Africa  XSuTv.EXdGB@hotmail.com
3      Sarah  Classic    1.98  ... 2001-02-25  South Africa  plLzO.Desfh@laposte.net
4    Barbara  Special    1.91  ... 1961-08-04        France    xEYXS.oeqYU@gmail.com
5     Joseph  Classic    1.49  ... 1950-06-05         China  AKAN5.cs86e@laposte.net
6   Jennifer  Unknown    1.57  ... 1980-11-17           USA    xVodN.Ft0fa@gmail.com
7      Sarah  Unknown    1.91  ... 1960-07-15        France    Aj5j6.mJyhU@gmail.com
8   Patricia  Regular    1.99  ... 2014-11-11  South Africa    h9kCC.HQLzv@gmail.com
10    Joseph  Regular    1.82  ... 1995-07-22        Brasil    OP25i.YKnIK@gmail.com

[10 rows x 7 columns]